/* See Previous Events button */
.see-previous-btn {
  display: inline-block;
  background-color: #155ed3; /* Blue theme */
  color: white;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  margin-left: 15px;
  transition: background-color 0.3s ease, transform 0.2s;
  box-shadow: 0 6px 15px rgba(21, 94, 211, 0.5);
}

.see-previous-btn:hover {
  background-color: #1d72e6;
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(21, 94, 211, 0.6);
}
